singularity {
    autoMounts=true
    enabled=true
}

simg = "/containers/FMRIPREP/poldracklab_fmriprep_1.4.0-2019-05-15-9de4f068cdcc.simg"
invocation = "/boutiques_jsons/invocations/fmriprep-1.4.0_invocation.json"
descriptor = "/boutiques_jsons/descriptors/fmriprep-1.4.0_descriptor.json"
license="/freesurfer/6.0.0/build/"

profiles {

    //DEFAULT
    standard {
        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "/archive/code/$simg" 
        params.invocation= "/projects/mjoseph/$invocation"
        params.descriptor = "/projects/mjoseph/$descriptor"
        params.license = "/opt/quarantine/$license"
    }

    kimel {
        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "/archive/code/$simg"
        params.invocation= "/projects/mjoseph/$invocation"
        params.descriptor = "/projects/mjoseph/$descriptor"
        params.license = "/opt/quarantine/$license"
    }

    scc {
        process.executor = "SLURM"
        process.queue = "long"
        params.simg = "/KIMEL/tigrlab/archive/code/$simg" 
        params.invocation= "/KIMEL/tigrlab/projects/mjoseph/$invocation"
        params.descriptor = "/KIMEL/tigrlab/projects/mjoseph/$descriptor"
        params.license = "/KIMEL/quarantine/$license"
    }

    scinet {
        process.executor = "SLURM"
        process.queue = "compute"
        params.simg = "/scratch/a/arisvoin/mjoseph/$simg" 
        params.invocation= "/scratch/a/arisvoin/mjoseph/$invocation"
        params.descriptor = "/scratch/a/arisvoin/mjoseph/$descriptor"
        params.license = "/scratch/a/arisvoin/mjoseph/$license"
    }

    local {
        process.executor = "local"
        params.simg = "/archive/code/$simg" 
        params.invocation= "/projects/mjoseph/$invocation"
        params.descriptor = "/projects/mjoseph/$descriptor"
        params.license = "/opt/quarantine/$license"
    }

}

params.application = "FMRIPREP"

process {
    withName: run_bids {

        maxErrors = 3
        errorStrategy = {task.attempt == task.maxErrors ? "retry" : "ignore"}
        clusterOptions = "--time=24:00:00 --mem-per-cpu=4096\
         --cpus-per-task=4 --job-name fmriprep\
         --nodes=1"

    }

}
