singularity {

    autoMounts=true
    enabled=true

}

simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.2-2.3.2-2019-06-07-ba20178606c2.simg"
invocation = "/scratch/mjoseph/spasd/bids/code/fmriprep_ciftify-1.3.2-2.3.2_invocation.json"
descriptor = "/scratch/mjoseph/spasd/bids/code/fmriprep_ciftify-1.3.2-2.3.2_descriptor.json"
license="/freesurfer/6.0.0/build/"

profiles {

    //DEFAULT
    standard {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    kimel {

        process.executor = "SLURM"
        process.queue = "high-moby"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"
    }   

    scc {

        process.executor = "SLURM"
        process.queue = "long"
        params.simg = "/KIMEL/tigrlab/$simg" 
        params.invocation= "/KIMEL/tigrlab/$invocation"
        params.descriptor = "/KIMEL/tigrlab/$descriptor"
        params.license = "/KIMEL/quarantine/$license"

    }

    local {
        process.executor = "local"
        params.simg = "$simg" 
        params.invocation= "$invocation"
        params.descriptor = "$descriptor"
        params.license = "/opt/quarantine/$license"

    }

}

params.application = "FMRIPREP_CIFTIFY"

process {
    withName: run_bids {
        
        maxErrors = 3
        errorStrategy = {task.attempt == task.maxErrors ? "retry" : "ignore"}
        clusterOptions = "--time=24:00:00 --mem-per-cpu=1024\
         --cpus-per-task=4 --job-name ciftify\
         --nodes=1"

    }

}

